---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import LayoutHead from "@/components/LayoutHead.astro";

import "@fontsource-variable/inter";
---

<html lang="en" data-theme="dark">
  <LayoutHead />
  <body class="py-11 box-content px-4 max-w-[800px] mx-auto">
    <div class="flex-col flex space-y-24 items-center">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>
